<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
  <add name="yusuf.Eczane_Otomasyonu.dbo1" connectionString="XpoProvider=MSSqlServer;data source=yusuf;integrated security=SSPI;initial catalog=Eczane_Otomasyonu;Encrypt=true;TrustServerCertificate=true" />
 </connectionStrings>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>